# Robot
BOT_TOKEN=PUT_TOKEN_BOT_HERE

# Dashboard
Port=3000
SESSION_SECRET=zucks-super-secret-key-change-me

# MariaDB (the same data you use in HeidiSQL)
DB_HOST=LOCAL HOST
DB_PORT=3306
DB_USER=ROOT
DB_Password=
DB_NAME=zucks